.reg-form {
  width: 400px;
  border: 2px solid black;
  height: 400px;
  margin: auto;
  margin-top: 80px;
  padding: 10px;
  font-family: Roboto;
}

.reg-logo {
  margin-top: 20px;
  margin-left: 140px;
}

.paragraph {
  margin-top: 10px;
  font-weight: 700;
  margin-left: 105px;
}

.reg-inputs {
  width: 280px;
  height: 25px;
  margin-top: 40px;
  margin-left: 50px;
  font-size: 14px;
}

.toggle-icon {
  margin-left: -30px;
}

.toggle-icon:hover {
  cursor: pointer;
}

.reg-button {
  width: 100px;
  height: 35px;
  margin-top: 30px;
  margin-left: 140px;
  font-size: 17px;
}

.reg-button:hover {
  cursor: pointer;
}
