.log-container {
  width: 400px;
  height: 400px;
  margin: auto;
  margin-top: 80px;
  border: 2px solid black;
  padding: 10px;
  font-family: Roboto;
}

.log-paragraph {
  margin-top: 20px;
  font-weight: 700;
  margin-left: 35px;
}

.log-logo {
  margin-top: 20px;
  margin-left: 150px;
}

.log-input {
  width: 300px;
  height: 25px;
  margin-top: 20px;
  margin-left: 45px;
}

.no-account {
  margin-top: 20px;
  margin-left: 120px;
}

.reg-link {
  margin-top: 20px;
  margin-left: 135px;
}
